@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

.custom-img {
  background-image: url('https://media.istockphoto.com/id/171150042/photo/sunrise-image-in-lcd-oxbow-bend-gtnp.jpg?b=1&s=170667a&w=0&k=20&c=r0BjvmFQ2LXjmzFa8B-asOiLSjhxrkc_esAK2la2PcE=')
}
body {

  background-color: #f5f5f5
}